<template name="header">
	<nav class="navbar navbar-default">
		<div class='container-fluid'>
			<div class='navbar-header'>
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        			 <span class="sr-only">Toggle navigation</span>
       				 <span class="icon-bar"></span>
      				 <span class="icon-bar"></span>
      				 <span class="icon-bar"></span>
    			  </button>
			  <a class="navbar-brand" href='/'>comicstage</a>
			  
			</div>
		
			<div class="collapse navbar-collapse" ids="bs-example-navbar-collapse-1">	
				<ul class="nav navbar-nav">
					<li><a href='/signin'>signin</a></li>
					<li><a href='/display'>display</a></li>
					<li><a href='/new_comic'>new comic</a></li>
					<li><a href='/login'>login</a></li>	
					<form class="navbar-form navbar-left" role="search">
      						<div class="form-group">
      						<input type="text" class="form-control" placeholder="Search">
        					</div>
      						<button type="submit" class="btn btn-default">Pesquisar</button>
  					</form>	
				</ul>

			</div>
		</div>
	</nav>
</template>
